<app-header (word)="searchWord($event)"></app-header>

<div class="container">
  <app-notelist [noteList]="noteList" (actionNoteItem)="noteAction($event)"></app-notelist>
</div>

<app-register
  *ngIf="showRegister"
  (action)="addNewNote($event)"
  (data)="getNoteRegister($event)"
  [note]="editItem"
></app-register>

<app-notification
  *ngIf="notification"
  [type]="notificationType"
  [message]="notificationMessage">
</app-notification>

<app-footer (newNote)="addNewNote($event)"></app-footer>
